
nodejs/dist/builder-effective-config.yaml
server/electron.provisionprofile
server/build/
server/out/
server/package-lock.json
server/yarn.lock
server/forge.config.ts
server/package-lock.json
server/yarn.lock
server/Certificates.p12
/server/dist
/server/node_modules
*.map
server/.env
server/AuthKey_2QD7X748AL.p8
